* {
    text-align: center;
}
body {
    background: #e6e5e5;
   
}
h1 { 
    background-color: #ffffff31;
    background: url(./technology\ background.png) no-repeat center fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 150px;
    color: #000;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div {
    display: block;
}